<div class="container-sm m-5">
    <form *ngIf="transaction" (ngSubmit)="submit()">
        <div class="form-group m-2">
            <label>ID</label>
            <input class="form-control" value="{{transaction.id}}" readonly>
        </div>
        <div class="form-group m-2">
            <label>Date</label>
            <input class="form-control" [value]="date" readonly>
        </div>
        <div class="form-group m-2">
            <label>Comments</label>
            <input class="form-control" [(ngModel)]="transaction.Comments" name="comments" required pattern="[a-zA-Z0-9 ]*">
        </div>
        
        <button type="button" class="btn btn-primary m-2" (click)="back()">Back</button>
        <button type="submit" class="btn btn-primary m-2">Update</button>
    </form>
</div>